.rate-number-up-down-btn-up {
  display: block;
  float: left;
  background: url(../images/add.png);
  width: 16px;
  height: 16px;
  margin-top: 4px;
  text-indent: 100px;
  overflow: hidden;
}

.rate-number-up-down-btn-down {
  display: block;
  float: left;
  background: url(../images/minus.png);
  width: 16px;
  height: 16px;
  margin-top: 4px;
  text-indent: 100px;
  overflow: hidden;
}

.rate-number-up-down-rating {
  display: block;
  float: left;
  text-align: center;
  padding: 0 5px;
}
