{#
/**
 * @file
 * Default theme implementation for yes/no voting display.
 *
 * Available variables:
 * - attributes: attributes for enveloping div element.
 * - buttons: The images/text to display for voting.
 * - info: Optional brief text to present with voting widgets.
 * - description: Optional longer description to present with voting widgets.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ buttons }}
  {% if info %}
    <div class="rate-info">{{ info }}</div>
  {% endif %}
  {% if description %}
    <div class="rate-description">{{ description }}</div>
  {% endif %}
</div>
